/* line 3, ../sass/modules/_coming-soon.scss */
#coming-soon .sign {
  width: 40%;
  height: 50%;
  margin: 150px auto;
  background-color: #444444;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 50% -65px;
          transform-origin: 50% -65px;
  -webkit-animation: swing 1.5s infinite alternate ease-in-out;
          animation: swing 1.5s infinite alternate ease-in-out;
}
@media screen and (max-width: 460px) {
  /* line 3, ../sass/modules/_coming-soon.scss */
  #coming-soon .sign {
    width: 80%;
    height: 40%;
  }
}
@media screen and (max-width: 780px) {
  /* line 3, ../sass/modules/_coming-soon.scss */
  #coming-soon .sign {
    width: 60%;
  }
}
/* line 28, ../sass/modules/_coming-soon.scss */
#coming-soon .sign:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
/* line 33, ../sass/modules/_coming-soon.scss */
#coming-soon .sign:before {
  position: absolute;
  content: "";
  top: -50px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  border: 3px solid #000;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 0 5px 0 0;
}
/* line 51, ../sass/modules/_coming-soon.scss */
#coming-soon .sign:after {
  position: absolute;
  content: "";
  top: -70px;
  left: 50%;
  margin-left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4d4d4d;
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}
/* line 4, ../sass/site.scss */
body {
  background-color: #EEEEDD;
}
